.header{
    background: url("~@images/home-img.jpg") no-repeat center center rgba(0, 0, 0, 0.3);
    height: 100vh;
    background-size: cover;
    background-blend-mode: multiply;
}

.navbar-toggler{
    background-color: seashell !important;
}

.header__content-menu{
    background-color: rgba(219, 191, 167, 0.92);
    padding: 80px;
}

.header__content-img{
    width: 323px;
    height: 120px;
}

.header__content-menu ul li{
    padding: 10px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 325px;
}

.header__content-menu ul li a{
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    font-family: Georgia, "VentiCF-Medium", "VentiCF-Bold", Helvetica Neue, Helvetica;
    text-transform: none;
    padding-bottom: 0;
    text-decoration: none;
}

